* {
    margin: 0;
    padding: 0;
}
.main{
    background-color:#d3d1d1ee;
    margin: 0;
}
.contianer{
    width: 1000px;
    height: 1500px;
    margin: 0 auto;
    border:  1px solid;
}
.header{
    width: 1000px;
    height: 100px;
    /* color: #E16B8c; */

}
.header-img{
    width: 300px;
    padding-top: 20px;
    padding-left: 20px;
    float: left;
}
.catalog{
    padding-top: 20px;
    width: 600px;
    height: 100px;
    float: right;
    border: 1px solid;
}
.catalog a{
    text-decoration: none;
    transition: all 0.5s;
}
.catalog a:hover{
    text-decoration: underline;
    color: darkgrey;

}
.catalog span {
    margin: 0 30px;
    font-size: 15px;
    color: #333333;
}

.footer {
    margin: 60px  auto;
    width: 800px;
    text-align: center;
    color: #b0b0b0;
    background-color: white;
    font-size: 10px;

}

.section .construction{
    font-size: 30px;
    font-weight: bold;
    width: 209px;
    height: 80px;
    display: block;
    margin: 200px auto;
    background-color: #000;
    border-radius: 10%;
}

.section .construction .ph1 {
    padding: 20px;
    position: relative;
    top: 20px;
    color: rgb(255, 255, 255);
    background-color: black;
    border-radius: 10%;
}
.section .construction .ph2 {
    padding: 20px;
    position: relative;
    top: 20px;
    background-color:#f90;
    border-radius: 10%;
}





.progressBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 998;
}

#loading {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background-color: hotpink;
    height: 4px;
    width: 0%;
    transition: width 0.2s ease 0s ,opacity 0.6s ease 0s;
    opacity: 1;
}